<div class="container py-2">
  <div class="row p-0">
    <div class=" col-md-8 col-sm-12">
      <div class="card rounded-0">
        <div class="card-header">Edit address</div>
        <div class="card-body">
          <%= render 'layouts/flash_messages' %>
          <%= render 'addresses/form' %>
        </div>
      </div>
    </div>
    <div class=" col-md-4 col-sm-12">
      <div class="card rounded-3">
        <div class="card-header text-center">Actions</div>
        <div class="card-body">
          <div class="actions">
            <a href="javascript:history.back()" class="btn btn-primary col-12">Back</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
