/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-slider
 *= require select2
 *= require select2-bootstrap
*= require toastr
 */
@import 'bootstrap';
@import "font-awesome";

.page-content{
  margin-top: 80px;
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.divider{
  position: relative;
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 30px auto;
}
.divider:after{
  content: 'OR';
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 12px;
  color: #666;
  background: #fff;
  border:1px solid #f0f0f0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  text-align: center;
}

.btn {
  cursor:pointer
}

.fa{
  text-decoration: none !important;
  color: black;
}

.fa:hover{
  color: gray !important;
}

i[class^="icon-"]:before {
  display: inline-block;
  text-decoration: none;
}

.modal-footer{
  display: block;
  align-items: right;

  > :not(:first-child) { margin-left: 0px !important; }
  > :not(:last-child) { margin-right: 0px !important; }
}

div.has-error input,
div.has-error ul.select2-choices {
  border-color: rgb(185, 74, 72) !important;
}

.text-error {
  color: rgb(185, 74, 72) !important;
}

.invisible-label{
  margin: 0px;
  padding: 0px;
}

.invisible-label label{
  color: gray;
  font-size: $small-font-size;
  margin: 0px;
  padding: 0px;
  visibility: hidden;
  white-space:nowrap;
  overflow:hidden;
}

.modal-body {
  padding-top: 0px;
}

.inline-element{
  display: inline-block;
}

.block-element {
  display: block;
  text-align: center;
}

.pointer{
  cursor:pointer
}

@media screen
and (min-width: 576px) {
  .pr-sm-10{
    padding-right: 10px !important;
  }
  .pl-sm-10{
    padding-left: 10px !important;
  }
}
.font-awesome { font-family: FontAwesome; color: black; font-size: 125%; margin: 2px }
.font-awesome:hover { color: #808080 }
