<a class="navbar-brand" href="/">eDelivery</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <% if not current_user.nil? %>
        <%= link_to "Profile", profile_path, class: "nav-link"%>
      <% end %>
    </li>
    <li class="nav-item">
      <% if current_user.nil? %>
        <%= link_to "Login", new_user_session_path, class: "nav-link"%>
      <% else %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</div>